<script defer src="/assets/js/calendar.js"></script>

<h1>Planning</h1>
     <!-- (A) PERIOD SELECTOR -->
     <div id="calPeriod">
        <select id="calMonth"></select>
        <input type="number" id="calYear">
      </div>
  
      <!-- (B) CALENDAR -->
      <div id="calWrap"></div>
  
      <!-- (C) EVENT FORM -->
      <dialog id="calForm"><form method="dialog">
        <div id="evtClose">X</div>
        <h2>CALENDAR EVENT</h2>
        <label>Date</label>
        <input type="text" id="evtDate" readonly>
        <label>Details</label>
        <textarea id="evtTxt" required></textarea>
  
        <input id="evtDel" type="button" value="Delete">
        <input id="evtSave" type="submit" value="Save">
      </form></dialog>
<ul>
<% planning.forEach(task => {
    const taskDate = new Date(task.startDate);
    const weekDay = taskDate.getDay();
    const dayNumber = taskDate.getDate();
    const month = taskDate.getMonth() + 1;
    const time = taskDate.getHours() + ":" + ('00'+ (taskDate.getMinutes())).slice(-2);
    
    %>
    <li><%= dayNumber %> - <%= month %> : <%= time %></li>
<%});%>
</ul>
