<h1>Planning</h1>
<!-- define the calendar element -->
<div id="my-calendar"></div>

<!-- initialize the calendar on ready -->
<script type="application/javascript">
    $(document).ready(function () {
        $("#my-calendar").zabuto_calendar();
    });
</script>
