
  <h1>All Projects</h1>
<ul>

<% projects.forEach(function (project) {%>
  <li>
    <a href="project/<%=project.clientId%>">
      <%=project.name%></a> Duration: <%=project.timeAllocated%> Budget: <%=project.budget%>
  </li>
<%})%>
</ul>
