<header>
	<h1>Project Details</h1>
</header>
<section class="tiles">
		<article class="style1">
				<h2><%=project.name%> (<%=project.projectId%>)</h2>

				<ul class="style1">
				<% tasks.forEach(function (task) {%>
					<li>
						<ul>
							<li>Name: <%=task.name%></li>
							<li>Steps: <%=task.steps%></li>
						</ul>
					</li>
				<%})%>
				</ul>
		</article>
</section>