<h1><%= taskLabel %> Planification</h1>

<ul class="list-group">
    <li class="list-group-item active" aria-current="true" ><%= task.taskName %> of <%= project.name %></li>
    <li class="list-group-item">Steps: <%= task.steps %></li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>